<div>
  <h1 class="d-inline">Bienvenido/a {{first_name}}!</h1>
  <span><i>({{role}})</i></span>
  <div class="d-flex">
    <a href="/profile"><button>Profile</button></a>
    <a href="/api/sessions/logout"><button>Logout</button></a>
    <a href="/carts/{{cart}}"><button>View cart</button></a>
  </div>
  <h2>Productos</h2>
  <div class="container-fluid row">
    {{#each docs}}
      <div class="col col-4 p-3">
        <form method="post" action="/api/carts/{{../cart}}/product/{{this._id}}">
          <div>
            <h4>{{this.title}}</h4>
            <p>{{this.description}}</p>
            <p>${{this.price}}</p>
          </div>
          <div>
            <button type="submit">Add to cart</button>
          </div>
        </form>
      </div>
    {{/each}}
  </div>
  <div>
    {{#if hasPrevPage}}
      <a href={{prevLink}}>Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
      <a href={{nextLink}}>Siguiente</a>
    {{/if}}
  </div>
</div>